hf:
  token: YOUR_HUGGINGFACE_TOKEN
db:
  adapter: sqlite
  database: main.db
  echo: true
nats:
  host: localhost
  port: 4222
  user: user
  password: pass
gen:
  inference_steps: 100
  batch_size: 1
  batch_count: 1
video:
  frames_per_pic: 3
  scale: 512x512
